[2020-05-15 13:59] veddandekar opened #1 "onICEConnectionStateChange error"
Every few minutes into the stream, stream turns black and logs onICEConnectionStateChange error.
If user shares video again, it works fine.

**TODO**: Look for possible causes and solutions.
Worst case - whenever this error is detected, re-establish a new share stream.

[2020-05-17 04:41] Pranav2612000 commented on #1
Solved by udpating PeerJS.

[2020-05-17 04:41] #1 closed

[2020-05-17 04:45] Pranav2612000 opened #2 "Bash script to move peerjs from dependencies to master and remove .git files"

[2020-05-17 05:07] Pranav2612000 opened #3 "Awesome button hangs on wait... if request failed"

[2020-05-17 05:14] veddandekar opened #4 "Redirect to dashboard on successful login"
Currently fails to redirect.

[2020-05-17 05:17] veddandekar opened #5 "Create only two media objects per user"
One for screen, one for video. When new user joins, send same object.

[2020-05-17 05:19] veddandekar opened #6 "Implement reordering of video list"
Support drag and drop on receiving video list.
Currently static.

[2020-05-17 05:19] Pranav2612000 commented on #4
Always works the second time. My guess is something to do with state and the username not being updated to localstorage, before the redirect. May investigate this tonight.

[2020-05-17 05:20] veddandekar opened #7 "Remove dead video streams"
Currently just freezes/turns black.

[2020-05-17 05:46] Pranav2612000 commented on #7
This wil require experimentation to find exact event on which we remove streams. Sometimes closing a connection at one end, gives out an error on the other side which may cause the other side to reconnect(It could be great if someone could confirm this).

[2020-05-17 05:52] Pranav2612000 commented on #6
https://github.com/atlassian/react-beautiful-dnd
@veddandekar  This has ready-made horizontal drag-drop lists. I have worked with this. It is a good library.

[2020-05-17 05:54] Pranav2612000 commented on #5
Please describe in detail. I think this has already been implemented.

[2020-05-17 05:57] Pranav2612000 opened #8 "Update README and Description"

[2020-05-17 06:12] veddandekar commented on #5
For every new connection, are we using a single media stream object or has that already been changed ?

[2020-05-17 06:17] Pranav2612000 commented on #5
We get the media stream object from the user once, and the same object is sent to multiple peers. Does this solve the issue?

[2020-05-17 06:22] veddandekar commented on #5
Does it allow creating one for video and one for screen?
Most apps do not allow this. But I do not see a reason why. We can definitely allow the user to be sharing both at once, if he/she chooses to do so.

[2020-05-17 06:23] Pranav2612000 commented on #5
Yes. Tested with modi yesterday

[2020-05-17 06:32] veddandekar commented on #5
Perfect!

[2020-05-17 06:32] #5 closed

[2020-05-17 06:34] Pranav2612000 opened #9 "Send requests to Express Server that a video call has ended."

[2020-05-17 06:38] #9 closed

[2020-05-17 08:10] Pranav2612000 commented on #4
Vasu is working on this.

[2020-05-17 08:19] Pranav2612000 opened #11 "Improve UI/UX of Adding a new User to a group.( + prevent refresh when user added)"

[2020-05-17 08:29] Pranav2612000 opened #12 "Remove audio in your video."
Before opening an issue:

- [Search for duplicate or closed issues](https://github.com/coreui/coreui-free-react-admin-template/issues?utf8=%E2%9C%93&q=is%3Aissue)
- Prepare a [reduced test case](https://css-tricks.com/reduced-test-cases/) for any bugs
- Read the [contributing guidelines](https://github.com/coreui/coreui-free-react-admin-template/blob/master/CONTRIBUTING.md)

When asking general "h

[2020-05-17 10:29] vasusharma7 commented on #4
The issue is resolved.

[2020-05-17 10:49] vasusharma7 commented on #11
Working on this - updating page without refresh.

[2020-05-17 12:55] veddandekar commented on #12
Could you elaborate the issue?

[2020-05-17 13:39] naman-modi commented on #12
The issue refers to the following problem:

If you start a video call, you can see your face as well and so that video (of yourself) has its own sound, that is the self sound, which is annoying. It's like an echo, you speak something, and you hear that back.
So the audio in the user's own video has to be disabled.

[2020-05-17 13:40] naman-modi commented on #8
@Pranav2612000 I will take the task to update the README.md for better understanding of the repository.

[2020-05-17 15:15] veddandekar commented on #4
Thanks @vasusharma7

[2020-05-17 15:15] #4 closed

[2020-05-17 15:56] naman-modi opened #15 "Add Firebase Authentication"
Need firebase for Google sign in to be implemented. It will be easy for users to sign in. @Pranav2612000, Let me know what you need after signin for the database.

[2020-05-17 16:31] Pranav2612000 opened #16 "video: Allow calls to be created without needing to refresh the database (with "end call")"

[2020-05-17 18:06] veddandekar opened #19 "Remove unnecessary backend calls on dashboard"
STR:
- Do a fresh login or tap on dashboard on left top once logged in.
- Check browser console.

I suspect that this is because calls are being made to backend when user is not in any room.

To-do: Prevent front-end from making calls when not in a room.

[2020-05-17 18:09] veddandekar commented on #7
Just a heads up, once PR #18 is merged some slight modification _may_ be required to the logic at line 53 of "Rooms.js"

[2020-05-17 19:18] Pranav2612000 opened #20 "Add appropriate UI changes to end call button"

[2020-05-17 19:24] Pranav2612000 commented on #7
Line numbers may change. What exactly will we need to change?

[2020-05-17 19:41] #6 closed

[2020-05-17 20:04] Pranav2612000 opened #22 "Write a common endpoint to get all information regarding the room"
Whenever a user enters a room, seperate backend calls are made to get messages, members, online members etc. Write a unified backend api which returns all this information - messages, group members, is there a ongoing call etc.

Call this api when user enters a room, and store the request in state, to be used later.
Handle errors, if the call fails may be due to internet connectivity.

[2020-05-17 20:12] Pranav2612000 commented on #22
@AnupNair08, Would you like to work on this?

[2020-05-17 20:15] Pranav2612000 opened #23 "change room icons on left-sidebar"
![image](https://user-images.githubusercontent.com/20909078/82158998-fe80c100-98a8-11ea-980d-004c69174f98.png)

Change these icons by something better.

[2020-05-17 20:17] AnupNair08 commented on #22
Alright I'll work on it👍

[2020-05-17 20:17] Pranav2612000 opened #24 "Add feedback messages to login and signup pages"
when user signups/ logins, not alerts/ popups are displayed, to give feedback to the user. Add proper alerts.
Also, redirect to login page on successful signup.

[2020-05-17 20:18] Pranav2612000 opened #25 "Replace the "CoreUI" image in title bar."
![image](https://user-images.githubusercontent.com/20909078/82159115-a39b9980-98a9-11ea-96b0-fe40899c3da7.png)

[2020-05-17 20:24] Pranav2612000 opened #26 "Remove unnecessary pages from COREUI."
Eg - /#/buttons

Can be done later when we don't need to refer to them for UI, but just adding this issue now, so that we don't forget.

[2020-05-17 20:33] Pranav2612000 opened #27 "Discussion: Display the name of the current room in which the user is."
Can't think of an appropriate position. What do you guys suggest?

[2020-05-17 20:35] Pranav2612000 commented on #27
Possible options: 1)The top title bar(where dashboard and Add Friend currently is)
                             2) the bar where the list, messages, settings icons are shown.

[2020-05-17 20:39] Pranav2612000 opened #28 "Discussion: Dashboard page"
What are some ideas for the dashboard page. Do we need one or should we remove it?

What I think is we can display the health monitoring statistics of the current user( obtained through fit api, screen time)(CoreUI has some good graphs) and some health tips, suggestions, precautions, advices and the latest activity of the user/ missed notifications.

@AnupNair08 @naman-modi @ vasusharma @veddandek

[2020-05-17 20:48] Pranav2612000 opened #29 "Discussion: Room View"
Ideas about the UI visible when a room is entered -

There is a lot of space wasted at the center(where the videos are displayed) when no call is in progress. What I have in mind is having something like skype does with the user video playing at the back with buttons on front-
![image](https://user-images.githubusercontent.com/20909078/82159603-05113780-98ad-11ea-83da-90486dda8c3f.png)

I like the

[2020-05-17 20:50] Pranav2612000 opened #30 "remove the dashboard and add friend button from title bar and place them somewhere else."
Open to discussion.

[2020-05-17 20:52] Pranav2612000 opened #31 "change the settings tab in right-sidebar with room settings options."
Will require back-end queries for these. Create a seperate issue for back-end if the one working on it feels so.

[2020-05-17 20:54] Pranav2612000 opened #32 "modify the drop-down menu according to our needs."
![image](https://user-images.githubusercontent.com/20909078/82159807-9af99200-98ae-11ea-9265-d1e7c0080a82.png)

Creaet appropriate pages and link the dropdown options to them. Create new issues for these pages.

[2020-05-17 20:57] Pranav2612000 opened #33 "right-sidebar: styling of selected-list icon different from other tabs"
![image](https://user-images.githubusercontent.com/20909078/82159867-0b081800-98af-11ea-8512-18d38e1c285d.png)

![image](https://user-images.githubusercontent.com/20909078/82159874-1b1ff780-98af-11ea-809b-70456afceddd.png)

@veddandekar - I think it will be very easy for you to fix

[2020-05-17 21:07] Pranav2612000 opened #34 "messages: change UI of messages to display the sender in a better way."
![image](https://user-images.githubusercontent.com/20909078/82160020-fa0bd680-98af-11ea-8cce-e26b04082f18.png)

[2020-05-17 21:14] Pranav2612000 opened #35 "messages: Add time support to messages"
change the database to store timestamps when messages are being sent. And pass it to the front-end to be displayed with a time.

[2020-05-17 21:18] Pranav2612000 opened #36 "Change colour scheme to purple."

[2020-05-17 21:24] Pranav2612000 commented on #36
check out route for inbuilt themes and colors - /#/theme/colors refer to

[2020-05-17 21:35] veddandekar commented on #6
As it turns out, drag and drop libraries suffer performance issues even on images. Trying to make them work on videos turned out very shaky.
If anyone wants to try and tackle this one in their free time, feel free to do so.

[2020-05-17 21:37] veddandekar commented on #27
Option 1 sounds more appealing to me

[2020-05-17 21:47] Pranav2612000 opened #37 "database: Prevent users from creating already taken username."
No checks are in place to prevent users from taking already taken usernames. Provide proper response from the backend and display appropriate messages to users

[2020-05-17 21:52] veddandekar commented on #28
We could add in a list for any online scheduled sessions the user may have.

Further, we could allow the user to segregate his groups into something like 'work' and 'personal' to better show him a breakdown of how he spents his time. Maybe even add in a 'focus' mode at the top that blocks notifications from all groups previously marked as 'personal'

[2020-05-17 21:55] veddandekar commented on #30
Dashboard button can be added to the left panel at the top.
However, I'm of the opinion that the friend button could probably stay at the top, maybe just change it's design a bit instead.

[2020-05-17 21:57] Pranav2612000 opened #38 "Add support for JWT/Cookies"
As of now, we are using localstorage to directly store username and are using this to send request to backend. Replace this by JWTs / Cookies which is secure. Will require adding middleware to backend, and passing the JWT through headers.

[2020-05-17 22:16] Pranav2612000 opened #39 "Allot room permissions to users"
Allow only certain users to add members to a group.(Maybe just the creator). Currently anyone can enter a roomname and add a member to the group. Current backend route is ideal for creating room, not adding an user, so maybe we will need to write a new api to add an user.

[2020-05-17 22:24] Pranav2612000 commented on #27
Others? Should we go with this then?

[2020-05-17 22:24] veddandekar commented on #34
Whoever takes this up can also work on mapping the enter key to the send button.

[2020-05-18 03:59] naman-modi commented on #28
<h3>In the centre, related to meetings/rooms</h3>
On the centre of the dashboard we require the following options:
<ul>
<li>To <b><i>schedule</b></i> or <b><i>start</b></i> or <b><i>join</b></i> Video Sync from particular video streaming website(eg: Youtube) </li>
<li>To <b><i>schedule</b></i> or <b><i>start</b></i> or <b><i>join</b></i> for viewing a webpage</li>
<li>To <b><i>schedule</b></i> or

[2020-05-18 05:31] naman-modi commented on #39
We need to take care of the following:
- In a ***private*** room, only the host (the one who has scheduled) can add members.
- In a ***public*** room, all those with the link can join.

**We need to decide on the following:** (designing of features)
- Can only the host start the meeting?
- Can there be ***more than one*** host?
    - If No, a new host can be made by a previous host?
- What if all

[2020-05-18 05:32] naman-modi commented on #38
@Pranav2612000 Any specific middleware you have in mind?

[2020-05-18 05:35] naman-modi commented on #37
- What about the users who will sign in using ***Google***?
- What kind of change required in the database for them?
- Will those signing in through google be allowed to select a separate username?

Do we need to add an avatar for the users? (designing features)

@Pranav2612000 @veddandekar @AnupNair08 @vasusharma7
Need to discuss this.

[2020-05-18 05:41] naman-modi commented on #36
1. Switching to Purple (specifically #714684 -  just checked from their website), which is the theme of their website would be useful for us.
2. Anyone (@Pranav2612000 @veddandekar @AnupNair08 @vasusharma7 ) aware of their UI Components if available on open source?

[2020-05-18 05:47] naman-modi commented on #35
@Pranav2612000, the timestamp will be that from the server, right?
Because the user's system time might vary, and if that timestamp is recorded, it might cough discrepancies.

[2020-05-18 05:56] naman-modi commented on #32
We first need to decide what are our needs for this drop-down menu.

According to me:
- ***Log Out*** is an absolute necessity.
    - It will log out the user and will be redirected to the login page.
- ***Profile*** (on discussion)
    - We till now don't have a page for the profile.
    - Are we planning to make one?
          - If yes, the user will be able to change the avatar
          - If y

[2020-05-18 06:17] naman-modi commented on #31
You mean these settings(mentioned in the image below) right?
But we need to discuss what can be added here.
According to me:
- For the ***host(s)***:
    - We can have the option of adding new members here (***for private room*** )
    - We can show a sharable link (***for public rooms***)
    - For changing the host or adding co-hosts
- For other ***attendees*** and users:
   - Any suggestion(s)

[2020-05-18 06:19] naman-modi commented on #29
So, this will be displayed when the user is not in the call but is invited for the call, right?

[2020-05-18 06:20] naman-modi commented on #26
Yes, thankful to you for adding this issue, we need to first finalize the design of our UI, so appropriate changes can be made.

[2020-05-18 07:10] naman-modi commented on #24
I have made the following flow diagram for signing in.

@Pranav2612000 @veddandekar @AnupNair08 @vasusharma7
Please have a look at this and approve it, and suggest changes if required.

![Signinflow](https://user-images.githubusercontent.com/38180263/82183998-8d6ef700-9904-11ea-9e12-519ae3a35c85.jpg)

[2020-05-18 07:32] Pranav2612000 commented on #24
If this is the first time signing in using google, ask for a username to associate with the account.

[2020-05-18 09:42] AnupNair08 commented on #15
Google Sign In working
Tested on Google Chrome
Issues with Brave Browser

[2020-05-18 09:57] naman-modi commented on #15
Which branch?
And the credentials remain the same right?

[2020-05-18 09:59] naman-modi commented on #24
Okay. @AnupNair08 We will have to handle this.
When the user for the first time signs in through google, need to ask for a username.

[2020-05-18 09:59] AnupNair08 opened #40 "Stream continuing if user logs out directly"
Both video and screen streams continue to run if a peer directly logs out without stopping the stream
![issue](https://user-images.githubusercontent.com/54449305/82200160-4ee53680-991c-11ea-8571-5977f1b308c5.png)

[2020-05-18 11:05] naman-modi commented on #40
Is it fixed in another branch?

[2020-05-18 11:14] Pranav2612000 commented on #40
Does the same happen on refresh?
Does the same happen on changing rooms?

[2020-05-18 11:14] Pranav2612000 commented on #40
All changes have been merged to master, so its unlikely.

[2020-05-18 11:16] Pranav2612000 commented on #15
Great. We havent tried the video calling on brave browser too...

What issues are you facing?

[2020-05-18 11:17] Pranav2612000 commented on #29
When a user enters a room.

[2020-05-18 11:18] Pranav2612000 commented on #31
Works for now. We can start adding other settings as they come up.

[2020-05-18 11:22] AnupNair08 commented on #15
Google sign In pop-up crashes
Searching for a fix

[2020-05-18 11:25] Pranav2612000 commented on #32
I feel, we dont need the dashboard here. (this opinion may change depending on what exactly the dashboard does)
rest of the points are very good. Yes. We need a user profile page. @naman-modi, can you open a new issue with the points to be added to the my-profile page.

Notifications will contain the ongoing call notifications, messages etc. But maybe we can implement this later. The other things

[2020-05-18 11:28] Pranav2612000 commented on #38
JWTs are easily implemented using readymade npm packages. We'll need to add a middleware express route to extract the information from the Token. I don't have much experience with cookies. But it shouldn't be much difficult.

[2020-05-18 11:35] Pranav2612000 commented on #39
Agree with the first two points.

For a public room, only the host can start a video call.
For a private room, anybody can start the meeting.

Yes, there can be more than one host.

I feel lets delete the room.

[2020-05-18 11:39] Pranav2612000 commented on #15
Great. Is it just for this site or is it a common issue for many sites. If the fix isn't trivial. Let's not focus on this now. Brave isn't a commonly used browser.

[2020-05-18 11:41] Pranav2612000 opened #41 "Add button to exit rooms"
The fix should handle proper cleaning of the database, removing the user details from the room document and the room details from the user document.

[2020-05-18 12:19] naman-modi commented on #39
For a private room, will we send invitations?
Like how will we have anyone start the meeting?

Even I think we should delete the room, as soon as all hosts leave.

What do others think?
@vasusharma7 @veddandekar @AnupNair08

[2020-05-18 12:21] naman-modi commented on #38
Okay, it works.

[2020-05-18 12:28] naman-modi commented on #32
Yes, I will create an issue for profile page.
Notifications can be implemented later.

[2020-05-18 12:29] naman-modi commented on #31
Yes, we can include other features as and when necessary.

[2020-05-18 12:44] naman-modi opened #42 "Profile Page required"
We require a profile page for each user.
In the profile page, we will have:
- ***Avatar*** (Profile image), which can be changed whenever they want
- ***User name*** can be changed (authentication will be required, as username different for each)

As soon as the first-time login via Google done, the user will be redirected here to select a username.

[2020-05-18 12:46] naman-modi commented on #29
And the call is not yet started, right?

[2020-05-18 16:36] AnupNair08 commented on #15
Seems like Brave blocks third party cookies and it needs to be enabled in the privacy settings for it to work.

[2020-05-18 17:05] vasusharma7 commented on #16
Need more insights on this...

[2020-05-18 17:08] vasusharma7 commented on #11
Added Auto refresh on -
1. Rooms when created
2 . Users when added
3 . Instant Chat messages as they are sent.

Please check the PR https://github.com/Pranav2612000/milaap/pull/43

[2020-05-18 17:09] Pranav2612000 commented on #16
this was an older issue, where to start a call, we first needed to press the end call button to clear the database to allow new calls to be made. This has been fixed.

[2020-05-18 17:09] #16 closed

[2020-05-18 17:10] vasusharma7 commented on #11
UI/UX still to be improved.

[2020-05-18 18:20] Pranav2612000 commented on #35
timestamp will be added to the message object along with other fields like content, author etc when the user sends a message.
The messages UI already supports displaying time. So UI modifications are not required.

[2020-05-18 21:49] veddandekar commented on #23
We should probably allow the user to set this group icon, once the group settings in the right panel are done.
We can decide which w ould be the default. Our current icons are from - https://coreui.io/v1/demo/AngularJS_Demo/#!/icons/simple-line-icons

Tbh, none of them seem good enough to represent a room. How about icon-cup?

[2020-05-18 21:59] veddandekar commented on #39
I think it will be best if we prompt him to choose between either making a new host or ending the call for everyone and thus closing the session.

I'm a little confused between what exactly will be the point of having a private room or a public room? If the difference is only about who can add others or who can invite others, I think that purpose it better served by having admin users instead of p

[2020-05-18 22:03] veddandekar commented on #37
If a person signs in using Google, he will still be asked to select a username. we could pre-fill the field with his Google id but he can definitely change that and choose a username completely unrelated to his email, if he wants to do so.

Allowing Google sign-in wise, I think the only change required in the DB will be the addition of Google auth string along with the existing user details.

Oh,

[2020-05-18 22:05] veddandekar opened #45 "Landing page required"
Not our current focus, but we will definitely need on down the road.
Putting this up rn to remind everyone to be on the look out for good templates/packages for the same.

[2020-05-18 22:10] veddandekar commented on #42
Further, we could include

- Bio
- Location(?)
- Status (A quick access to this should be on the dashboard, allowing the user to change quickly change his status from 'available' to 'busy' or so on the fly)
- Privacy (Decides whether the user can directly be added to public groups)(Is this required?)

[2020-05-18 22:26] veddandekar commented on #35
I think what Naman was pointing at is how exactly will we be storing the time stamp.

If a user in India sends a message at 7pm in India to another user in UAE, it should not display the time as 7pm to the receiver. It should be in his local time.

One possible solution is to always store a specific timezone which once fetched, we can easily convert to the user's local time at frontend.

[2020-05-18 22:28] veddandekar commented on #33
So do we want it different from the current blue highlight or should I just fix the same to work on the leftmost tab(as it currently does not) ?

[2020-05-18 22:33] veddandekar commented on #25
Milaap needs a logo.
@AnupNair08 considering that you have some prior designing exprience, any intuitive ideas?

[2020-05-18 22:36] veddandekar commented on #7
PR has been rejected, so I think we can work directly on this instead.

One possible solution is to add peer ID as the id to the HTML video element. We can then simply remove the video element from DOM when the user disconnects from the room.

[2020-05-18 22:40] veddandekar commented on #19
@vasusharma7 since you are already working with backend to improve messaging, I think this will be a simple fix for you

[2020-05-19 03:33] vasusharma7 commented on #19
Yes, I will take up this.

[2020-05-19 04:39] AnupNair08 commented on #25
I'll draft a few designs

[2020-05-19 05:33] #3 closed

[2020-05-19 05:36] Pranav2612000 commented on #7
Working on this and #20 which is similar.

[2020-05-19 06:35] naman-modi commented on #42
Yes, good suggestions.
- ***Bio*** for sure, no harm.
- ***Location*** could be there, but we wouldn't be able to verify if it is correct or not?
- ***Status*** would be a bit trickier, because at the backend also we would have to handle it like if the user is in a room/meeting, we will have to show "Busy in a Meet"
- ***Privacy*** also seems non-essential for now, as we can implement it in furthe

[2020-05-19 06:36] naman-modi commented on #45
@veddandekar For now, it will be the sign-in page, right?

[2020-05-19 06:38] naman-modi commented on #35
Yes, I meant to say what Ved's saying.
We can have all the times stored in GMT (+0:00).

[2020-05-19 06:40] naman-modi commented on #37
Yes, I have kept those in mind and put a flow diagram in issue #24.
Closing this issue, as is similar to #24

[2020-05-19 06:40] #37 closed

[2020-05-19 07:09] naman-modi commented on #39
Public rooms can be joined by anyone having the link. For example, I plan to conduct an open event and want others to attend. So I spam the link (for the event, which is a public room) everywhere, and anyone with that link can attend.

Whereas in a private room, I want to watch a trailer, and so I only want my friends in it. So I will have to manually add them. Because I don't want anyone else to

[2020-05-19 10:41] vasusharma7 commented on #19
See PR https://github.com/Pranav2612000/milaap/pull/47

[2020-05-19 10:44] vasusharma7 commented on #24
See PR https://github.com/Pranav2612000/milaap/pull/47

[2020-05-19 11:17] #19 closed

[2020-05-19 11:19] veddandekar commented on #24
Closing this one as the specific issue is fixed. The discussion related to Google authentication can be continued on the respective thread.

[2020-05-19 11:19] #24 closed

[2020-05-19 11:19] veddandekar commented on #45
Yes, works for now

[2020-05-20 10:54] vasusharma7 opened #48 "Check for equivalence of password and confirm password at registeration"

[2020-05-20 11:26] vasusharma7 commented on #41
The button is already there.What all is left to be added ?

[2020-05-20 11:30] vasusharma7 commented on #30
Why not do something like add a drop down on room and then there we can give add friend button ?

Also can this be done that a user creates a room but without adding any initial friend to that, just empty room and user then can add other friends ? Because the current structure doesn't support that I guess..I am not completely sure about it.

[2020-05-20 11:32] vasusharma7 commented on #30
![image](https://user-images.githubusercontent.com/40715071/82441515-a5d54200-9abb-11ea-9737-df3943ad3f1d.png)

[2020-05-20 11:38] vasusharma7 commented on #38
I will add this !

[2020-05-20 14:09] #48 closed

[2020-05-20 14:16] veddandekar opened #50 "Make aside menu mobile friendly"
Currently, almost entire app support mobile displays perfectly except aside menu.
I'm sure CoreUI supports a simple fix for the same.

![aside bar](https://user-images.githubusercontent.com/42548201/82457044-99101880-9ad2-11ea-9f57-e7548b145eb9.png)

[2020-05-20 15:11] AnupNair08 commented on #25
Please review the drafts for the logo
@Pranav2612000  @veddandekar  @naman-modi
![logo1](https://user-images.githubusercontent.com/54449305/82463274-40dd1480-9ada-11ea-8627-512d5609aab6.PNG)

[2020-05-20 15:27] naman-modi commented on #25
Ref2 looks great!

[2020-05-20 20:22] veddandekar commented on #25
I really like Ref 2 too!

[2020-05-20 20:42] veddandekar commented on #40
Nice find @AnupNair08
Surprising issue indeed.

[2020-05-22 13:18] vasusharma7 commented on #38
See PR #58

[2020-05-22 13:23] vasusharma7 opened #59 "Room Change Doesn't take place sometimes"
Sometimes, the room is not changed though it is clicked on .
The URL changes but the updated room name is not passed to Control.js from DefaultAside.js.
Experienced very less times usually  just after logging in or after refresh.
try
User 1
Password 1
It has ample rooms to recreate the issue.

[2020-05-22 13:36] vasusharma7 commented on #59
https://drive.google.com/open?id=1z4Oildnsi9H9qDmOuMM9gLzWGwR645hc

[2020-05-22 13:37] vasusharma7 commented on #59
Please tell if anyone else is also facing this issue

[2020-05-22 16:21] Pranav2612000 opened #60 "Message: Messages not displayed correctly"
Sending a new message messes with the message view, only displaying certiain messages.

[2020-05-23 16:19] savannahar68 opened #61 "App crashes after Clicking on stop sharing"
![image](https://user-images.githubusercontent.com/20986069/82735413-37a0b180-9d3f-11ea-884d-3b385508f363.png)

[2020-05-23 19:04] #33 closed

[2020-05-23 19:04] #50 closed

[2020-05-23 19:27] #40 closed

[2020-05-24 09:27] veddandekar commented on #61
Although I was unable to reproduce this issue, I did find a possible cause for it. The same has been fixed and merged.
Could you check if this issue has been solved? If not resolved, then please provide the steps to reproduce.

[2020-05-25 05:27] Pranav2612000 commented on #61
@veddandekar
Is this issue solved?

[2020-05-25 05:27] #61 closed

[2020-05-25 05:33] Pranav2612000 commented on #38
@vasusharma7

Adding the line "Fixed #PR no" automatically links this issue to the PR. Which makes it easier for others to view the PRs submitted for this issue, plus on merging the PR, the issue gets closed automatically.

[2020-05-25 05:33] #38 closed

[2020-05-25 05:36] savannahar68 commented on #61
@Pranav2612000 @veddandekar
So the stop sharing button is lost while merging other branches

This issue was seen after clicking on stop sharing button!
We can reproduce it by going by to commit 4 days ago and then trying stop sharing

Open the issue, as even if right now we don't have stop sharing button we'll need to add it as it is essential!

[2020-05-25 06:56] Pranav2612000 opened #66 "Video: Delete ended and closed streams."

[2020-05-25 07:46] vasusharma7 commented on #32
@naman-modi
https://github.com/Pranav2612000/distrideochat/issues/32#issuecomment-62996276

Yes the options mentioned here look super-valid.
I will work on to change the menu (will just include dummy page for options we don't have pages for now.)

[2020-05-25 07:49] vasusharma7 commented on #32
@naman-modi
Yes the options mentioned here look super-valid.
I will work on to change the menu (will just include dummy page for options we don't have pages for now.)

[2020-05-25 11:26] #36 closed

[2020-05-25 11:28] naman-modi commented on #25
It's done.
![logo](https://user-images.githubusercontent.com/38180263/82809125-017f4100-9ea9-11ea-899e-8cdc764551c1.png)

[2020-05-25 11:28] #25 closed

[2020-05-25 19:09] #66 closed

[2020-05-26 17:01] savannahar68 commented on #59
I guess this is fixed now with Pranav's changes
It was a bug in code

This issue can be closed if @Pranav2612000 approves.

[2020-05-29 15:07] veddandekar opened #70 "Join by link"
Users should be able to enter a room directly using a link.

Refer - https://developer.mozilla.org/en-US/docs/Web/API/Navigator/share

[2020-05-29 15:37] Pranav2612000 commented on #7
Fixed.

[2020-05-29 15:37] #7 closed

[2020-05-29 15:50] Pranav2612000 opened #71 "Change design of creating rooms"
Currently, new rooms are created when a user adds a friend/another user to the room. This creates problems when adding support to add anonymous users, add more than 1 user to the room etc.
The design is being changed according to the following example -
A logged in user can create a new room. This adds a new room entry in the database. The logged in user can now add other users through either the

[2020-05-29 16:02] #59 closed

[2020-05-29 16:09] Pranav2612000 commented on #39
For now we only have 1 kind of room, for those rooms, for now, lets go with the most simple approach - those who have been invited by the creator(through the add user button) will have admin priviledges, they will have the rooms visible in their left sidebar. Those who are joining the room through url, will be visitors, and cannot modify room settings.

[2020-05-29 16:13] Pranav2612000 commented on #20
Fixed.

[2020-05-29 16:13] #20 closed

[2020-05-30 02:56] naman-modi commented on #70
The user should also given an option to copy the link.

[2020-05-30 02:58] naman-modi opened #72 "Change to a PWA"
For seamless experience of the users on mobile phones, once the backend is completely ready, its needs to converted to a PWA.

[2020-05-30 03:04] naman-modi opened #73 "Allow host to mute/kick out"
The host should be to:
- mute ***all*** participants, i.e. **Mute ALL**
- mute a ***particular*** participant, i.e. **Mute Naman**
- Kickout a ***particular*** participant, i.e. **Kick out Naman**

[2020-05-30 19:21] AnupNair08 commented on #70
Tried working on this feature
The Web Share API doesn't support major browsers. Found it to not work on Chrome, Brave and Firefox.
Any alternatives?
@veddandekar

[2020-05-31 03:57] veddandekar commented on #70
We could probably do something like, if Share API
is supported(mainly mobile browsers) then use that. If not, the use clipboard API to show the link and allow copy to clipboard instead.

This shows how we can easily add a fallback - https://css-tricks.com/how-to-use-the-web-share-api/

Our fallback could be be the much more widely supported clipboard API - https://developer.mozilla.org/en-US/docs/

[2020-05-31 04:01] naman-modi commented on #70
Have a look at this: https://w3c.github.io/web-share/
- Try this on your phone, and not on a laptop

Found it over here: https://web.dev/web-share/

Documentation: https://www.w3.org/TR/web-share/

So it doesn't work on ***Chrome***, but works on ***Chrome(Android)***

[2020-05-31 09:42] AnupNair08 commented on #70
Please check #79
Desktop users can copy link and supported browsers can use Web Share

[2020-06-01 09:25] yashshah1 opened #83 "Minor changes in package.json"
https://github.com/Pranav2612000/distrideochat/blob/b42c8d590ba79f053aef251a4eaa9f95134acad0/package.json#L6

Also add proxy so that all front end API calls can be converted from `http://localhost:5000/api/...` to just `/api/...`, this should make deployment easier

[2020-06-01 12:03] veddandekar commented on #70
Good work @AnupNair08 !

[2020-06-01 12:03] #70 closed

[2020-06-03 07:16] savannahar68 opened #87 "Dark theme is not properly integrated across all the components"
Issues :

* Chat section is not visible properly
* Chat styling is affected because of dark theme
* Side bar not properly displayed
* Message Setting icon not displayed until hover
* Chat section send button out of window
* Things typed in send window(chat section) not visible
--------
![image](https://user-images.githubusercontent.com/20986069/83606736-b7c4e380-a597-11ea-8413-2611813a284f.png)
--

[2020-06-03 07:17] savannahar68 commented on #72
@Pranav2612000 @naman-modi
Anyone working on this?
If no I can take this

[2020-06-03 08:29] naman-modi commented on #72
No one yet, because we want to fix other features/core video calling functionalities first, as we are still working on the back-end. We have decided it to keep it for the last.

@Pranav2612000 @veddandekar Please correct me if I am wrong.

[2020-06-06 16:40] AnupNair08 commented on #87
Please check #91 @savannahar68
Mentioned bugs have been fixed.
Please review the changes
![Capture](https://user-images.githubusercontent.com/54449305/83949615-7f94fd80-a842-11ea-9672-06cd56763db9.PNG)
![2](https://user-images.githubusercontent.com/54449305/83949620-815ec100-a842-11ea-8dd5-ea831dea6965.PNG)
![3](https://user-images.githubusercontent.com/54449305/83949621-81f75780-a842-11ea-89da-65

[2020-06-07 04:23] savannahar68 commented on #87
@AnupNair08 can we have sender's chat at right and receiving chat at left?

[2020-06-07 07:05] AnupNair08 commented on #87
@savannahar68 fixed the part
Also new chats are rendered without scrolling
![4](https://user-images.githubusercontent.com/54449305/83962476-5fedeb80-a8bb-11ea-9c35-82a183e1e37f.PNG)

[2020-06-11 16:36] savannahar68 commented on #87
@AnupNair08 LGTM

[2020-06-11 16:36] #87 closed

[2020-06-27 16:42] savannahar68 opened #105 "Doesn't logout after session is expired"

[2020-06-28 03:06] #72 closed

[2020-06-28 03:06] naman-modi commented on #45
Done.

[2020-06-28 03:06] #45 closed

[2020-06-28 03:07] naman-modi commented on #42
Yet to be done.

[2020-06-28 03:08] naman-modi commented on #2
@Pranav2612000 can we close this issue?

[2020-06-28 03:09] naman-modi commented on #15
Not required now.
Users need to self-register on DistrideoChat.

[2020-06-28 03:09] #15 closed

[2020-06-28 03:10] naman-modi commented on #26
Completed.

[2020-06-28 03:10] #26 closed

[2020-07-01 08:24] #105 closed

[2020-07-13 03:57] naman-modi opened #119 "As soon as opened, it redirects to /join"
In the PR #118 , does it directly redirect to '/join' instead of '/landing', or is it because of some other commit?

@savannahar68 @Pranav2612000

[2020-07-13 03:57] naman-modi commented on #8
Done.

[2020-07-13 03:57] #8 closed

[2020-07-13 03:57] naman-modi commented on #11
Done.

[2020-07-13 03:57] #11 closed

[2020-07-13 03:58] naman-modi commented on #2
Moved to simple-peer.

[2020-07-13 03:58] #2 closed

[2020-07-13 03:58] naman-modi commented on #12
Resolved by removing self-audio.

[2020-07-13 03:58] #12 closed

[2020-07-13 03:59] naman-modi commented on #22
@Pranav2612000 Is this still required?
As we were having talks to make APIs for feasibility?

@savannahar68 Any thoughts?

[2020-07-13 04:00] naman-modi commented on #23
Resolved.

[2020-07-13 04:00] #23 closed

[2020-07-13 04:00] naman-modi commented on #27
Displayed as a notification, when user enters the room.

[2020-07-13 04:00] #27 closed

[2020-07-13 04:00] naman-modi commented on #28
Done.

[2020-07-13 04:00] #28 closed

[2020-07-13 04:01] naman-modi commented on #29
Done.

[2020-07-13 04:01] #29 closed

[2020-07-13 04:01] naman-modi commented on #30
'Invite Others' added to right subpanel.

[2020-07-13 04:01] #30 closed

[2020-07-13 04:03] #34 closed

[2020-07-13 04:04] naman-modi commented on #39
Only the Admin/Host can have such permissions.

[2020-07-13 04:04] #39 closed

[2020-07-13 04:04] naman-modi commented on #41
Leave Call - Added.

[2020-07-13 04:04] #41 closed

[2020-07-13 04:05] naman-modi commented on #60
Fixed #69

[2020-07-13 04:05] #60 closed

[2020-07-13 04:10] naman-modi commented on #71
Fixed.

[2020-07-13 04:10] #71 closed

[2020-07-13 05:33] savannahar68 commented on #119
@naman-modi not related to that PR

[2020-07-13 05:54] savannahar68 opened #121 "Signin section not visible on /join - Mobile devices"
![image](https://user-images.githubusercontent.com/20986069/87275285-647d7380-c4fb-11ea-846b-ca43dfadd7ef.png)

[2020-07-13 05:58] savannahar68 opened #122 "Display proper error on /join if username already taken"
Right now, if the username is already taken for a room and "GUEST" tries to enter that room with same username then the Redux error displayed is : Room not found

Expected error: Username already taken

[2020-07-13 08:19] savannahar68 opened #123 "Feature : Notification on receiving new message"
With current implementation user has no idea if a new message is received or not.

We can change the message icon to show the count of new messages received or pop a notification on receiving new message

[2020-07-14 02:44] vasusharma7 commented on #123
Added this feature . Its on [this](https://github.com/Pranav2612000/distrideochat/tree/message-notification) branch.

One enhancement left : When the user is already on the message view, then also the badge icon appears.
I tired adding event on scroll to bottom to remove the badge then, but was getting some errors.

[2020-07-14 03:04] savannahar68 commented on #123
@vasusharma7 can you try fixing/adding the enhancement?
Also, make sure only new messages count is displayed.

If possible please drop a screenshot here.

[2020-07-14 03:05] vasusharma7 commented on #122
Fixed in https://github.com/Pranav2612000/distrideochat/pull/125

[2020-07-14 03:08] vasusharma7 commented on #123
Sure @savannahar68
New message count is displayed. But it gets lost after refresh as redux state is lost.
Haven't implemented redux-persist or any other state maintenance across refreshes yet.Will do that also soon.

[2020-07-14 03:11] vasusharma7 commented on #123
[](url)
![Screenshot from 2020-07-14 08-39-41](https://user-images.githubusercontent.com/40715071/87379391-c1d1fd00-c5ad-11ea-8d09-1cc9f749c650.png)
![Uploading Screenshot from 2020-07-14 08-39-45.png…]()

[2020-07-14 03:20] vasusharma7 commented on #123
@savannahar68
Can we skip showing the badge if the user is already on message View ?
No doubt the notifications and sound will still be there ?

[2020-07-14 03:28] savannahar68 commented on #123
That is valid behavior

Yes, this looks more ideal

[2020-07-14 03:30] savannahar68 opened #126 "Audio stream is left open after call end/ video toggled"

[2020-07-14 03:46] vasusharma7 commented on #123
Solved / Fixed the message badge when message view is opened !

Have merged dev-vs with message notification branch

[2020-07-14 11:25] savannahar68 opened #128 "End call streams are not ended properly causes side effect in next call"
If the user ends the call and starts a new call he won't be able to toggle audio and video

Steps to repro :

1. Start call (Join Call)
2. Enjoy your call
3. End call
4. Start a new call (Join Call)
5. Try toggling audio and video

Reason :

After ending call the streams are not removed from redux causing this issue.

[2020-07-14 11:28] savannahar68 opened #129 "Screenshot and GIF(Screencast of this app)"
@naman-modi @AnupNair08 @Pranav2612000

Can we have screenshots and screencast of this app in the readme ?

Having those on repo attracts user to fork, use, and contribute to the project.

We are gaining traffic on this repo, so it'll be nice to encourage people to fork and contribute.

[2020-07-14 11:29] #122 closed

[2020-07-14 11:32] AnupNair08 commented on #129
@savannahar68
I have a few design and screenshots
Will add

[2020-07-14 11:33] savannahar68 commented on #22
@naman-modi not for feasibility but to reduce overhead.

But I guess separate APIs are better for many reasons as we can use them in future somewhere else. Also getting all the members and chat can take a lot of time causing user to wait longer which is not a good thing.

@Pranav2612000 Do you agree?

Or another alternative to this is combine all the api's and then use GraphQl maybe?
@yashshah1 an

[2020-07-14 12:42] Pranav2612000 commented on #73
Do we need this for the 18th Submission?

[2020-07-14 12:50] Pranav2612000 commented on #42
Suggestions about this?

[2020-07-14 12:54] Pranav2612000 commented on #22
I think, Currently, it uses a single call to fetch room participants, room messages & online members. We can change that to separate calls if we want to make the "enter room" process faster.

[2020-07-14 14:21] naman-modi commented on #121
Fixed in 1e850ee

[2020-07-14 14:21] #121 closed

[2020-07-14 14:24] naman-modi commented on #129
Will also update the readme.

[2020-07-14 17:05] naman-modi opened #130 "Need to change the Dashboard"
- Need to add a "Join Room" button beside "Create Room".
- It would better to shift both Join & Create Room in center of the screen
- Add "Home" button on navbar
![distrideo-dashboard](https://user-images.githubusercontent.com/38180263/87454905-42cadc00-c622-11ea-9f43-777d49b89706.png)

[2020-07-14 17:06] naman-modi commented on #42
For now, I guess, changing the user name and adding a profile picture should be sufficient?

@savannahar68 Any thoughts?

[2020-07-14 17:07] naman-modi commented on #73
No, we will complete after the 18th July submission.

[2020-07-14 18:37] savannahar68 commented on #42
@naman-modi
We are not using profile pic as of now.
According to me updating Name and password should be on priority. What say?

[2020-07-15 02:21] savannahar68 commented on #128
fixed in #127

[2020-07-15 02:21] #128 closed

[2020-07-15 02:22] #126 closed

[2020-07-15 03:05] naman-modi commented on #42
Agreed. Profile pic not required for now.

We can give them the options to:
- change ***username***
- change ***password***
- very importantly **delete account**

[2020-07-15 03:39] Pranav2612000 opened #131 "store encrypted passwords in the database"
Currently, the passwords are stored on the mongo database as simple plaintext. This has security and privacy issues.
Store the passwords in an encrypted format on the database, using libraries like brypt.

[2020-07-15 03:43] Pranav2612000 opened #132 "Improve typography throughout the application"
Right now, we are using the default font styles and colors provided. These should be changed to use better font and colour schemes to improve experience of the application.

[2020-07-15 03:46] Pranav2612000 opened #133 "ui: latest message not visible completely in message tab"
![image](https://user-images.githubusercontent.com/20909078/87501028-b5b47100-c67b-11ea-89c1-ab8b24b396bd.png)

Also, room-name seems to be hanging on the messages screen.

[2020-07-15 03:54] Pranav2612000 opened #134 "automatically delete entries after a fixed amount of time"
There is some data that needs to be automatically cleared after a fixed amount of time. This includes:-
1) Inactive participants in the online array of a room
2) Inactive guest participants in the room's member list
3) sessions and other login credentials of guest users
<strike>4) Messages sent on the group chat(To be discussed)</strike>

MongoDB has a feature (TTL) to automatically delete data af

[2020-07-15 03:55] #123 closed

[2020-07-15 04:09] Pranav2612000 opened #135 "feature: leave a room"
Allow users to leave rooms they have joined.
A button can be provided on the Room page to allow users to leave rooms.

[2020-07-15 05:14] savannahar68 opened #136 "Update main video context on switch"
If a user is in context and if he turns off his video then the main context(video-me) freezes at last frame while the thumbnail/bottom context shows proper username.

Expected behavior - Main context should also display username

[2020-07-15 05:27] savannahar68 opened #137 "Remove video controls"

[2020-07-15 05:36] savannahar68 opened #138 "User is in context and ends call then other context should be replaced with his automatically"
Before opening an issue:

- [Search for duplicate or closed issues](https://github.com/coreui/coreui-free-react-admin-template/issues?utf8=%E2%9C%93&q=is%3Aissue)
- Prepare a [reduced test case](https://css-tricks.com/reduced-test-cases/) for any bugs
- Read the [contributing guidelines](https://github.com/coreui/coreui-free-react-admin-template/blob/master/CONTRIBUTING.md)

When asking general "h

[2020-07-15 05:42] savannahar68 opened #139 "Muting video and rejoining call shows a black screen instead of actual context/poster"
![image](https://user-images.githubusercontent.com/20986069/87507681-6f670e00-c68b-11ea-86e2-ec5084ed7373.png)

Steps to repro :

1. Join call
2. Ask someone to mute his Video
3. End your call
4. Join back again

The context(Bottom thumbnail) of user who have muted his video is displayed transparent black

Expected behaviour - Poster with his username should be displayed instead

[2020-07-15 05:44] savannahar68 opened #140 "fix: Store all the passwords in encrypted form"
Instead of plaintext password store them using bcrypt

[2020-07-15 05:50] AnupNair08 commented on #140
@savannahar68 This is  a duplicate of #131

[2020-07-15 05:54] savannahar68 opened #141 "Handle app after JWT is expired"
If JWT is expired then we can either

*. Redirect user to login page **or**
*.  Re-issue JWT

@Pranav2612000 @naman-modi
What approach seems better?

[2020-07-15 05:58] AnupNair08 commented on #131
Please review #142

[2020-07-15 08:24] naman-modi opened #143 "'Delete Room' option to users"
We definitely need this feature which will give user, that is 'admins' the option to delete the room.

Once the 'Delete Room' is clicked:
- All the users and room should be deleted
- All the messages in that room should be deleted.

[2020-07-15 08:46] naman-modi commented on #141
In terms of 'implementation', redirection to login would be preferred.

But in terms of 'user experience', issuing a JWT would make more sense.

[2020-07-16 04:57] savannahar68 commented on #141
@naman-modi We'll go for UX then.

[2020-07-16 04:57] #140 closed

[2020-07-16 07:43] naman-modi commented on #141
Works!

[2020-07-16 08:48] savannahar68 opened #144 "Change PWA distrideo logo to milaap Logo"

[2020-07-16 09:16] savannahar68 opened #145 "Emoji support in chat section"

[2020-07-16 10:56] savannahar68 opened #146 "Scroll bar in chat section if the link size exceeds 50 character"
We need to apply CSS to fix this.

[2020-07-16 15:11] #146 closed

[2020-07-16 15:23] Pranav2612000 opened #150 "fix: creating a new room doesnt update ui to display new room in rooms sidebar"
Go to Dashboard & create a new room. On creating the room, you need to refresh the page to see the new room. The user should not need to refresh to see the room added( or automatically refresh for now).

[2020-07-16 16:10] naman-modi commented on #130
Fixed in 97971a9

[2020-07-16 16:10] #130 closed

[2020-07-16 16:13] naman-modi opened #151 "fix: "Invite" option and "Create Room" option shouldn't be available for guests"
The following options **shouldn't** be given to guests:
- Invite option on right navbar in every room
- Create Room option on the dashboard

[2020-07-16 16:15] naman-modi opened #152 "submit screenshots if any taken"
Please submit any screenshots taken by you on MILAAP, as they are required for documentation.

[2020-07-16 18:51] AnupNair08 commented on #152
@naman-modi Few of the updated ones

![milaap2](https://user-images.githubusercontent.com/54449305/87710384-53ff1e80-c7c3-11ea-9974-8158e5148bf3.png)
![milaap3](https://user-images.githubusercontent.com/54449305/87710388-55304b80-c7c3-11ea-9eda-5ac6e36204ef.png)
![milaap1](https://user-images.githubusercontent.com/54449305/87710389-55c8e200-c7c3-11ea-8ed1-12eb586fe98d.png)

[2020-07-16 19:16] AnupNair08 opened #155 "Enter key is not mapped correctly on Join Page"
On clicking enter, the page redirects back to login,

[2020-07-17 04:08] naman-modi opened #156 "When user enters a room via url which does not exist, need to show an error"
If a logged in user directly types in a url: ***/rooms/iyabdiybsa***,  for a room which does not exist we need to show an error.

Right now, it takes to that page, but since there is no entry in the database for that room, connections might not be established.

[2020-07-17 04:09] naman-modi commented on #152
Great.

[2020-07-17 04:58] savannahar68 commented on #155
fixed in #157

[2020-07-17 04:58] #155 closed

[2020-07-17 05:02] Pranav2612000 commented on #131
Merged.

[2020-07-17 05:02] #131 closed

[2020-07-17 05:02] Pranav2612000 commented on #119
Merged.

[2020-07-17 05:02] #119 closed

[2020-07-17 05:05] savannahar68 commented on #152
![Screenshot from 2020-07-17 10-30-17](https://user-images.githubusercontent.com/20986069/87750363-dd8d0b80-c818-11ea-8292-e9e4781ce4c3.png)

![Screenshot from 2020-07-17 10-32-12](https://user-images.githubusercontent.com/20986069/87750409-fdbcca80-c818-11ea-8ef9-1f6157d3ef9f.png)

[2020-07-17 05:26] prasadrathod opened #158 "Fix : when user types msg in chat and accidentally presses enter more than 1 time, the message is sent that many times in chat"

[2020-07-17 05:53] savannahar68 commented on #158
This issue is because of delay cause after pressing enter.
It broadcasts the message over socket and then clears the chat box.

Simple fix is to clear the message first and then broadcast it.

We'll fix it. Thank you.

[2020-07-17 05:58] savannahar68 opened #159 "Remove controls on video"

[2020-07-17 06:14] prasadrathod commented on #158
CooL man. You are fast😂.

[2020-07-17 06:16] prasadrathod commented on #158
I need my reward now😁😁😁😂😂

[2020-07-17 06:32] naman-modi commented on #159
But keep the options to enlarge screen (to full screen) and Picture-in-picture mode

[2020-07-17 06:53] savannahar68 commented on #158
Steps to repro:

1. Login
2. Enter any room
3. Go to chat section
4. Type message
5. Press on enter - Don't leave enter

Output - Multiple messages will be sent
Expected behaviour - Only one message should be sent

How to fix it: On clicking enter first clear the input box and then broadcast message over socket

@vasusharma7 assigning it to you

[2020-07-17 07:18] savannahar68 opened #160 "fix: Title of the room"
Fix the title of the room

Should be fixed at the top and will stay there even if scrolled. There should be no gap

Or other alternative is to keep the tittle and the time at the top itself

![image](https://user-images.githubusercontent.com/20986069/87758322-dde1d280-c829-11ea-8af7-4941dbea0a83.png)

@vasusharma7 assigning it to you

[2020-07-17 07:25] AnupNair08 commented on #151
Please review  #161

[2020-07-17 08:14] naman-modi commented on #150
This is fixed right?

[2020-07-17 08:18] Pranav2612000 commented on #150
Currently, we are using a very naive approach of automatically reloading the page, when new entry is successfully added. We should instead do it in a more React way

[2020-07-17 09:02] naman-modi commented on #137
@savannahar68 , please refer #159

[2020-07-17 09:02] #137 closed

[2020-07-17 09:02] naman-modi commented on #150
Right.

[2020-07-17 09:03] naman-modi commented on #152
Thank you @savannahar68 :-1:

[2020-07-17 09:06] vasusharma7 commented on #150
Fixes #162

[2020-07-17 09:06] vasusharma7 commented on #158
Fixes #162

[2020-07-17 09:22] AnupNair08 commented on #156
Fixed this in #161
Please review

[2020-07-17 09:45] vasusharma7 commented on #160
Fixes #162
Please check if it looks fine !

[2020-07-17 09:58] vasusharma7 commented on #144
Fixes #162

[2020-07-17 10:14] Pranav2612000 commented on #133
Fixed.

[2020-07-17 10:14] #133 closed

[2020-07-17 11:43] #158 closed

[2020-07-17 11:57] AnupNair08 commented on #156
fixed in #163

[2020-07-17 11:57] #156 closed

[2020-07-17 12:03] AnupNair08 commented on #151
Fixed in #163 and #165

[2020-07-17 12:03] #160 closed

[2020-07-17 12:03] #150 closed

[2020-07-17 12:05] #144 closed

[2020-07-17 13:13] savannahar68 commented on #152
![WhatsApp Image 2020-07-17 at 6 27 34 PM](https://user-images.githubusercontent.com/20986069/87789838-4ac29000-c85d-11ea-860d-cb28a87daedc.jpeg)
![WhatsApp Image 2020-07-17 at 6 28 41 PM](https://user-images.githubusercontent.com/20986069/87789844-4c8c5380-c85d-11ea-9d8d-835cbd506fa3.jpeg)
![WhatsApp Image 2020-07-17 at 6 29 39 PM](https://user-images.githubusercontent.com/20986069/87789845-4dbd8

[2020-07-18 13:56] savannahar68 opened #170 "Chat section: Message Links should be active and on clicking should open in new window"

[2020-07-18 16:06] naman-modi opened #171 "Mobile back-camera not switching off"
By default when on a mobile phone, front camera is switched on.
When the camera is flipped, that is back-camera is used, and then when 'Webcam-off' is pressed, it throws an error or becomes unresponsive.

@AnupNair08 could you please this issue faced by you?

[2020-07-18 16:09] AnupNair08 commented on #171
@Pranav2612000 @naman-modi
The issue is that the stream continues and the video does not switch off. After switching camera back also the stream was continuing.

[2020-07-18 16:46] AnupNair08 commented on #170
Fixed in #172

[2020-07-18 19:42] AnupNair08 commented on #134
Fixed in #142

[2020-07-18 19:42] #134 closed

[2020-07-18 20:50] yashshah1 opened #173 "Code Cleanup + Removal of warnings"
Proposed changes:
- Remove await / then chains
- Remove useless console logs
- Remove extra calls to bind
- Replace callbacks with await functions: [example](https://github.com/Pranav2612000/milaap/blob/master/backend/routes/room.js#L59)

Open to suggestions.

[2020-07-18 21:32] yashshah1 commented on #22
@savannahar68 Adding GraphQL might be a greater overhead assuming that the data transmitted isn't very big in the first place (<500KB).

[2020-07-19 05:55] #170 closed

[2020-07-19 05:56] savannahar68 commented on #159
Leaving this issue open as PiP and full-screen video functionality is to be added

[2020-07-19 07:04] AnupNair08 commented on #145
Please review #174

[2020-07-19 08:13] #145 closed

[2020-07-19 09:09] yashshah1 opened #175 "Refactor to move UEXIST as a non 200 status code"
Currently, while registering, if a username exists, the server returns a 200 code with a code "UEXISTS"
See: https://github.com/Pranav2612000/milaap/blob/0dbdbeda7bb8a149f96ad35cb4069d961cfb2a7c/backend/routes/register.js#L41

Ideally, this should be a 4XX code (400 seems right to me). If this is a design choice, please close this issue, or I can take this up as a part of the cleanup:

Additional

[2020-07-19 09:58] yashshah1 commented on #175
A similar thing with `NOROOM`
https://github.com/Pranav2612000/milaap/blob/0dbdbeda7bb8a149f96ad35cb4069d961cfb2a7c/backend/routes/room.js#L259

[2020-07-19 10:39] veddandekar commented on #173
Could you make these changes and submit a PR for this?
It would be of great help.

[2020-07-19 10:40] veddandekar commented on #171
Unable to reproduce, working fine for me

@AnupNair08 any specific STR?

[2020-07-19 11:32] AnupNair08 commented on #171
@veddandekar
In my case, had stream on via front camera, switched camera off and switched to rear camera.
Not sure about it being specific to that case. Need to check it .

[2020-07-19 14:27] yashshah1 opened #177 "URLs in text messages"
Currently, when a sent message contains a URL, the message that is pushed on to the database has markup.
See: https://github.com/Pranav2612000/milaap/blob/master/src/views/Compose/index.js#L38
![image](https://user-images.githubusercontent.com/31387795/87877050-b477a100-c9f9-11ea-8dab-d0d3a0769f49.png)

This has multiple drawbacks
- Increases space taken up by DB
- (Minor): Increases query size to

[2020-07-19 14:49] yashshah1 commented on #175
@Pranav2612000

[2020-07-19 14:56] AnupNair08 commented on #177
@yashshah1
Thanks for suggesting the improvement. Changing to the proposed design.

[2020-07-19 15:05] AnupNair08 commented on #177
Fixed in #178.
Please review.
Change from the previous version on the db:
![chk](https://user-images.githubusercontent.com/54449305/87878027-5d74ca80-c9ff-11ea-971b-1e210fac4ab0.png)

[2020-07-19 17:02] Pranav2612000 commented on #175
Go ahead. Thanks.
If possible, could you improve the client-side handling of errors in some of these places?

[2020-07-19 17:11] Pranav2612000 commented on #171
@AnupNair08 Remember to test this during the next call.

[2020-07-19 17:21] Pranav2612000 commented on #151
Reopening this because the current implementation just hides the buttons from the user. The APIs to invite and create rooms are still open and accessible to guests. We could check if the current user belongs to the users, or a better solution is to add the usertype to the JWT data.

[2020-07-19 17:32] Pranav2612000 commented on #132
Instead of having just one font everywhere, we could have some more, which go with the current font, at some other places

[2020-07-19 17:35] Pranav2612000 commented on #22
Closing this because I feel the current implementation works for now. Feel free to open this in the future.

[2020-07-19 17:35] #22 closed

[2020-07-19 19:05] AnupNair08 commented on #132
Sure @Pranav2612000
Will change with more fonts in appropriate sections of the UI

[2020-07-20 08:01] #177 closed

[2020-07-20 10:14] #173 closed

[2020-07-20 10:46] yashshah1 commented on #143
I have a query, how are admins denoted in the database?
As far as I could tell, in the rooms collection, all users present in the `users` array are the admins of the room, so all of them must have the functionality, right?

[2020-07-20 12:41] AnupNair08 commented on #42
@naman-modi @veddandekar @Pranav2612000
Is anyone currently working on this task?
If no please assign this to me

[2020-07-20 12:43] Pranav2612000 commented on #42
Don't think so. Assigning it to you.

[2020-07-20 15:12] yashshah1 commented on #143
I've added the backend for this feature in 72ec18a1433dee. I need some help as to where we can place the button in the UI, and whether or not to conditionally show it.

The backend takes care of whether the user is the admin or not.

For the front end, a possible roadmap is:
- The backend route that serves the details of the room can also add a flag next to each user (I'm not sure if this is alrea

[2020-07-20 15:25] Pranav2612000 commented on #143
Yes.

[2020-07-20 15:31] Pranav2612000 commented on #143
Yup. I think the approach works. We could add a flag next to each room in the users table denoting if he's an admin of the room or a guest. Where do you plan on rendering the "Delete room" button?

[2020-07-20 15:44] naman-modi commented on #143
"Delete Room" functionality can be similar to "Invite" functionality visible only to admins.

From UI point of view, there's no need for this, as for now, only the rooms which the user is an admin of is displayed on the left sidebar.

I think delete room can be rendered with all other elements only, as the user can delete whenever he/she wants to delete it.

[2020-07-20 15:45] naman-modi commented on #151
Agreed.

[2020-07-20 18:21] yashshah1 commented on #143
Yes, but to render the button "Delete", the component will need some flag denoting whether or not the user has permissions.

@Pranav2612000 take a look at 21cf0140c098389, this should cover what we spoke about.

I'll start working on the UI tomorrow.

[2020-07-21 03:54] Pranav2612000 commented on #143
If the room is present in the rooms' array in the users' table, then the user is an admin of the room. The guest rooms he visits are not stored here.

[2020-07-22 10:11] yashshah1 opened #182 "Pressing <enter> refreshes the page when creating a room"
STR:
- Go to `/`
- Click on create room
- Type a room name
- Press Enter

Ideal Behaviour:
- Room gets created

Current Behaviour:
- Page gets refreshed

Currently, the user is expected to click on `Add` when pressing the enter key should be enough to trigger a form submit

[2020-07-22 10:21] yashshah1 opened #183 "Contributing"
Change the Contributing section in the README to a link to CONTRIBUTING.md

In CONSTRIBUTING.md, remove the option for `git pull upstream master` and recommend only rebase from upstream repos. This should make the commit history much cleaner

[2020-07-24 05:27] #143 closed

[2020-07-27 16:56] naman-modi commented on #183
@AnupNair08 Please look into this.

[2020-07-27 16:57] naman-modi commented on #182
Right, it is not as expected. Will look into it.